<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Makeup Reviews{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Bootstrap CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        {# Tipografía Inter #}
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <style>
            :root {
                --primary-color: #c9184a;
                --bg-light: #fff0f3;
                --text-dark: #590d22;
                --text-muted: #800f2f;
                --night-bordeaux: #590d22ff;
                --dark-amaranth: #800f2fff;
                --cherry-rose: #a4133cff;
                --rosewood: #c9184aff;
            }

            body {
                font-family: 'Inter', sans-serif;
                background-color: var(--bg-light);
                color: var(--text-dark)
            }

            .btn-primary {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
            }

            .btn-outline-secondary {
                color: #c9184a;
                background-color: transparent;
                border-color: var(--primary-color);
            }

            .btn-primary:hover {
                background-color: #a4133c;
                border-color: #a4133c;
            }

            .btn-outline-secondary:hover {
                color: #590d22;
                background-color: #ffccd5;
                border-color: #a4133c;
            }


            /* Paleta de colores burdeos / rosa:
            --night-bordeaux: #590d22ff;
            --dark-amaranth: #800f2fff;
            --cherry-rose: #a4133cff;
            --rosewood: #c9184aff;
            --bubblegum-pink: #ff4d6dff;
            --bubblegum-pink-2: #ff758fff;
            --cotton-candy: #ff8fa3ff;
            --cherry-blossom: #ffb3c1ff;
            --pastel-pink: #ffccd5ff;
            --lavender-blush: #fff0f3ff;*/
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'components/navbar.html.twig' %}

        <main class="container py-4">
            {% block body %}{% endblock %}
        </main>

        {# Bootstrap JS #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
